.main-post {
    max-width: 800px; /* Set a maximum width for the main post */
    margin: 0 auto; /* Center the main post horizontally */
}
.related-post {
    max-width: 250px; /* Set a max width */
    margin: auto; /* Center the card */
    margin-bottom: 20px;
}

.main-post img {
    width: 100%; /* Makes the image responsive and full-width of the container */
    height: auto; /* Maintains the aspect ratio */
    border-radius: 8px; /* Optional: adds rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    margin-bottom: 15px; /* Space below the image */
}

.related-heading {
    font-size: 1.5rem; /* Adjust size as needed */
    margin-left: 60px;
    margin-bottom: 15px; /* Space below the heading */
    font-weight: bold; /* Make the heading bold */
}

.email-link, .phone-link {
    color: green; /* Green color for links */
    text-decoration: none; /* Remove underline from the links */
    margin-left: 5px; /* Space between icon and text */
}
.organizer-icon, .email-icon, .phone-icon {
    color: green; /* Green color for icons */
    vertical-align: middle; /* Align icons with text */
    margin-right: 5px; /* Space between icon and text */
}