:root {
  --background-color-primary: #005C2F;
  --background-color-secondary: #d5d5d5;
  --background-color-danger: #bb2d3b;
  --background-color-warning: #ffca2c;
  --background-color-dark-grey: #353739;
}

.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--background-color-primary);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.text-secondary {
  color: var(--background-color-secondary) !important;
}

.nav-link {
  color: var(--background-color-primary);
}

.green-link {
  color: var(--background-color-primary);
  text-decoration: none;
}

.green-navbar {
  background-color: var(--background-color-primary) !important;
  height: 2px;
}

.component-green-bar {
  background-color: var(--background-color-primary) !important;
  margin-bottom: -15px;
}

.component-warning-bar {
  background-color: var(--background-color-warning) !important;
  margin-bottom: -15px;
}

.component-danger-bar {
  background-color: var(--background-color-danger) !important;
  margin-bottom: -15px;
}

.bg-primary {
  background-color: var(--background-color-primary) !important;
}

.nav-dropdown-menu {
  width: 800px;
}

.nav-dropdown-item {
  margin-top: -5px;
}

.footer-disclaimer {
  margin-left: 20%;
  margin-right: 20%;
}

.developer-footer-bar {
  background-color: black;
  text-align: center;
  padding: 10px 0px 1px 0px;
}

.calendar-active-color {
  background-color: var(--background-color-primary);
  border-color: var(--background-color-primary);
}

footer {
  background-color: var(--background-color-dark-grey);
}