:root {
  --background-color-primary: #005C2F;
}

.nav-link {
  color: var(--background-color-primary);
}

a {
  color: var(--background-color-primary);
  text-decoration: none;
}

.green-navbar {
  background-color: var(--background-color-primary) !important;
  height: 2px;
}

.bg-primary {
  background-color: var(--background-color-primary) !important;
}

.nav-dropdown-menu {
  width: 800px;
}

.nav-dropdown-item {
  margin-top: -5px;
}